# Ignore python cache 
__pycache__/

# Ignore pip install dist/ 
dist/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
*.nans
*.ini
*.swp


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


# Ignore NCBI Taxonomy db and mgnify catalogues metadata provided by the MGNify FTP
microbetagDB/
tests/


# Ignore the output of the installation.sh script 
microbetag_env

# Ignore file of 120MB - you may get this file or update it from: 
# https://zenodo.org/records/6655692
gtdb_16s.RData



*.vscode/

